<div class="col-md-8 col-centered">
  <div class="panel panel-primary">
   <div class="panel-heading">修改服务项目</div>
    <div class="panel-body">
      <%= simple_form_for @job do |f| %>
        <%= f.input :title, :label => "服务项目" %>
        <%= f.input :description, :label => "服务简介" %>
        <%= f.input :wage_lower_bound, :label => "最低价" %>
        <%= f.input :wage_upper_bound, :label => "最高价" %>
        <%= f.input :contact_email %>
        <%= f.input :is_hidden %>
        <%= f.submit "Submit", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
