<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>肖师傅 流动宴席</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="container-fluid">
        <div class="row">
          <%= render "common/navbar" %>
          <%= yield %>
        </div>
      </div>

      <%= render "common/footer" %>

  </body>
</html>
